
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Italic.ttf);
  font-style: italic;
}


body {
  background-color:#53524e;
  font-family: roboto;
  max-width: 1080px;
  margin:auto;
}

header {
  text-align: center;
  color: #f5f4ef;
}
nav {
  position: sticky;
  margin: 10px;
  background-color: #666561;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 10px 8px;
  border-radius:10px;
  top: 10px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: stretch;
  justify-content: space-around;
  padding: 0px;
}
nav ul li {
  border-radius:10px;
  padding: 1em;
}

nav ul li a {
  display: block;
  padding: 1em;
  transition:color 0.3s;
  color:#f5f4efbc;
  text-decoration: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: white;
  transition:color 0.3s;
}

main {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
        "about about contact"
        "projects experience contact"
        "education skills contact"
        "footer footer footer";
        gap: 1em;
}

#about{  
  grid-area: about;
}

h5 {
  text-align: center;
}

section {
  text-align: justify;
  color: #333;
  padding: 1em;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 10px 8px;
  border-radius:10px;
  background-color:  #f5f4ef;
}

aside {
  color: #333;
  background-color:  #f5f4ef;
  padding: 1em;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 10px 8px;
  border-radius:10px;
}

section h2:first-child {
  text-align: center;
}

#projects{
  grid-area: projects;
}

#education{
  grid-area: education;
}

#experience{
  grid-area: experience;
}

#skills {
  grid-area: skills;
}

#skills ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#contact{
  grid-area: contact;
}

#footer{
  grid-area: footer;
  color: #333;
  background-color:  #f5f4ef;
  padding: 1em;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 10px 8px;
  border-radius:10px;
}

@media (max-width: 450px) {
  main {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
          "about about"
          "projects projects"
          "experience experience"
          "education education"
          "skills skills"
          "contact contact"
          "footer footer";
          gap: 1em;
  }

  nav ul{
    padding: 0;
  }
}